.dashboard_heading{
    font-weight: 200 !important;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    margin-top: 1rem;
    text-transform: uppercase;
}

.dashboard_heading_product{
    font-weight: 600 !important;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    margin-top: 1rem;
    text-transform: capitalize;
}

.alignCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dashboard_heading {
  background-color: transparent;
  display: flex;
    justify-content: center;
}

.table-striped {
  border-collapse: separate;
  border-spacing: 0 0.5em;
}

.table-sm th,
.table-sm td {
  border-color: #212529;
}

.inputEdit{
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #03A9F4;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 200 !important;
}

.AddCategory{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container1_createProduct{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1.5rem
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-title{
  font-size: 18px;
   font-weight: 600 !important;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;

}
.card-text{
  font-size: 15px;
   font-weight: 600 !important;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;

}
.card-des{
  font-size: 12px;
   font-weight: 400 !important;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
    display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box-of-search{
      display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.leftSideContainer{
  width: 60%;
}

.rightSideContainer{
  width: 40%;
}

.batch{
      position: absolute;
    top: -4px;
    right: -2px;
    background: red;
    padding: 1px 6px;
    border-radius: 50%;
    font-size: 13px;
        font-family: 'Lato', sans-serif;
}

.size_container{
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1rem;
    width: 80%;
    gap:1rem
}

.size_box{
  border: 1px solid black;
    padding: 0.2rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
        font-family: 'Lato', sans-serif;
        cursor: pointer;
}

.active_size{
  background:black;
  color: white;
}

